<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="container" id="leftHomeScreen">	
					<div class="card">
						<div class="carousel slide" id="carouselExampleControls" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active carousel-pic-fix d-block w-100">
									<%= image_tag 'scouts11.JPG' %> 
								</div>
								<div class="carousel-item carousel-pic-fix">
									<%= image_tag 'scouts8.JPG'%>
								</div>
								<div class="carousel-item carousel-pic-fix">
									<%= image_tag 'scouts15.JPG'%>
								</div>
								<div class="carousel-item carousel-pic-fix">
									<%= image_tag 'scouts11.JPG'%>
								</div>
								<div class="carousel-item carousel-pic-fix">
									<%= image_tag 'scouts22.JPG'%>
								</div>
								<div class="carousel-item carousel-pic-fix">
									<%= image_tag 'scouts19.JPG'%>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExamplControls" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slides"next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
						</br>
					<div class="card">
				
						<div class="card-body">
							<h4 class="card-title">Girl Scouts</h4>
							<a class="card-text" href="/documents/Introductory.Presentation.pdf">Introductory Presentation</a></br>
							<a class="card-text" href="/documents/Designing.Robots.Presentation.pdf">Designing Robots Presentation</a></br>
							<a class="card-text" href="/documents/Programming.Robots.Presentation.pdf">Programming Robots Presentation</a></br>
							<a class="card-text" href="/documents/Official.Girl.Scout.Junior.Badge.Guide.pdf">Official Girl Scout Junior Badge Guide</a></br>
							<a class="card-text" href="/documents/Girl.Scouts.Guide.pdf">Girl Scouts Guide</a></br>
						</div>
					</div>	
				</div>
			
		</div>
		<div class="col-md-6">
			<div class="container" id="rightHomeScreen">

					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Downloadable Resources</h4>
						</div>
					</div>
		</br>
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Chairman Submissions</h4>
							<a class="card-text" href="/documents/Chairman2015">Chairman 2015</a></br>
						</div>
					</div>
		</br>
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Woodie Flowers</h4>
							<a class"card-text" href="/documents/FlosWoodieFlowers2015">Flos Woodie Flowers 2015</a></br>
							<a class="card-text" href="/documents/FlosWoodieFlowers2014">Flos Woodie Flowers 2014</a></br>
						</div>
					</div>
				</div>
			
		</div>
	</div>
</div>
