<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div id="leftHomeScreen" class="container">
				<script>
					$(function() {
						h = '440px';
						$('#leftHomeScreen').attr('height', h);
					});
				</script>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Who Are We?</h4>
						<p class="card-text">
						Members of robotics team Westside Boiler Invasion participate year-round in FIRST速 related activities, whether it be robot-building practice, website coding for team promotion, or outreach events to promote FIRST速 robotics and STEM education. This helps to not only prepare students for FIRST速 Robotics Competitions (FRC), but it also helps to familiarize team members with the principles of FIRST速.	
						</p>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<div class="card">
							<a class="twitter-timeline" data-theme="light" data-height="400" href="https://twitter.com/frc461?ref_src=twsrc%5Etfw">Tweets by frc461</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<script>
								$(function() {
									w = parseInt($('#fb').css('width'));
									$('#fb').attr('src', "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWBI461%2F&tabs=timeline&height="+ h +"&width="+ w +"&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId");
								});
							</script>
							<iframe id="fb" style="border:none;overflow:hidden;height:400px;" border="no" frameborder="0" allowTransparency="true"></iframe>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<a class="btn btn-block btn-primary btn-features button:hover"  href="https://www.instagram.com/team461wbi/" role="button">Instagram</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="rightHomeScreen" class="card">
				<div id="carouselControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<%= image_tag "EIcloseup.jpg", :class => "d-block w-100" %> 
						</div>	
						<div class="carousel-item">
							<%= image_tag "placingPiecesGood.jpg", :class =>"dblock w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "semis.jpg", :class=>"d-block w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "programers.jpg", :class=>"d-block w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "2018robot.jpg", :class=>"d-block w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "Randy.jpg", :class=>"d-block w-100" %>
						</div>
						<div class="carousel-item">
							<%= image_tag "people.jpg", :class=>"d-block w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "pit4.jpg", :class=>"d-block w-100"%>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<div class="card-body">
					<h4 class="card-title">How We Exist</h4>
					<p class="card-text">
					If it weren't for the generosity of the individuals and businesses who sponsor our program, we would not have the resources to provide these great opportunities for our community. If you would like to sponsor our team, please see the Support Us page.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

