<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div id="leftHomeScreen" class="container">
				<script>
					$(function() {
						h = '440px';
						$('#leftHomeScreen').attr('height', h);
					});
				</script>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Who Are We?</h4>
						<p class="card-text">
            Westside Boiler Invasion is the FIRST&copy; robotics team of West Lafayette Jr./Sr. High School. Our members work throughout the year by building robots, programming, and  holding outreach events in the community to promote FIRST® robotics and STEAM education. Our FIRST robotics team provides a place for students to develop skills for future careers in STEAM.
            </p>
          </div>
				</div>
				<br>
				<div class="row">
					<div class="col">
            <a class="btn btn-block btn-warning btn-features button:hover"  href="https://www.instagram.com/team461wbi/" role="button"><i class="fab fa-4x fa-instagram"></i></a>
					</div>
					<div class="col">
            <a class="btn btn-block btn-warning btn-features button:hover"  href="https://www.facebook.com/WBI461/" role="button"><i class="fab fa-4x fa-facebook"></i></a>
					</div>
					<div class="col">
            <a class="btn btn-block btn-warning btn-features button:hover"  href="https://twitter.com/frc461" role="button"><i class="fab fa-4x fa-twitter"></i></a>
					</div>
        </div>
        </br>
        <div class="row">
          <div class="col">
<iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=1201%20cumberland%20ave&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
          </div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="rightHomeScreen" class="card">
				<div id="carouselControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<%= image_tag "EIcloseup.jpg", :class => "d-block w-100" %> 
						</div>	
						<div class="carousel-item">
							<%= image_tag "placingPiecesGood.jpg", :class =>"dblock w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "semis.jpg", :class=>"d-block w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "programers.jpg", :class=>"d-block w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "2018robot.jpg", :class=>"d-block w-100"%>
						</div>
	<!--					<div class="carousel-item">
						<%-#	<%= image_tag "Randy.jpg", :class=>"d-block w-100" %>
						</div> -->
						<div class="carousel-item">
							<%= image_tag "people.jpg", :class=>"d-block w-100"%>
						</div>
						<div class="carousel-item">
							<%= image_tag "pit4.jpg", :class=>"d-block w-100"%>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="card-title">How We Exist</h4>
              <p class="card-text">
              If it weren't for the generosity of the individuals and businesses who sponsor our program, we would not have the resources to provide these great opportunities for our community. If you would like to sponsor our team, please see the <a href="/sponsors">Sponsors page</a>.
              </p>
            </div>
            <div class="col">
              <div id="amznCharityBanner"><script type="text/javascript">(function() {var iFrame = document.createElement('iframe'); iFrame.style.display = 'none'; iFrame.style.border = "none"; iFrame.width = 310; iFrame.height = 256; iFrame.setAttribute && iFrame.setAttribute('scrolling', 'no'); iFrame.setAttribute('frameborder', '0'); setTimeout(function() {var contents = (iFrame.contentWindow) ? iFrame.contentWindow : (iFrame.contentDocument.document) ? iFrame.contentDocument.document : iFrame.contentDocument; contents.document.open(); contents.document.write(decodeURIComponent("%3Cdiv%20id%3D%22amznCharityBannerInner%22%3E%3Ca%20href%3D%22https%3A%2F%2Fsmile.amazon.com%2Fch%2F81-0596438%22%20target%3D%22_blank%22%3E%3Cdiv%20class%3D%22text%22%20height%3D%22%22%3E%3Cdiv%20class%3D%22support-wrapper%22%3E%3Cdiv%20class%3D%22support%22%20style%3D%22font-size%3A%2025px%3B%20line-height%3A%2028px%3B%20margin-top%3A%2015px%3B%20margin-bottom%3A%2015px%3B%22%3ESupport%20%3Cspan%20id%3D%22charity-name%22%20style%3D%22display%3A%20inline-block%3B%22%3EWestside%20Robotics.%3C%2Fspan%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cp%20class%3D%22when-shop%22%3EWhen%20you%20shop%20at%20%3Cb%3Esmile.amazon.com%2C%3C%2Fb%3E%3C%2Fp%3E%3Cp%20class%3D%22donates%22%3EAmazon%20donates.%3C%2Fp%3E%3C%2Fdiv%3E%3C%2Fa%3E%3C%2Fdiv%3E%3Cstyle%3E%23amznCharityBannerInner%7Bbackground-image%3Aurl(https%3A%2F%2Fm.media-amazon.com%2Fimages%2FG%2F01%2Fx-locale%2Fpaladin%2Fcharitycentral%2Fbanner-background-image._CB309675353_.png)%3Bwidth%3A300px%3Bheight%3A250px%3Bposition%3Arelative%7D%23amznCharityBannerInner%20a%7Bdisplay%3Ablock%3Bwidth%3A100%25%3Bheight%3A100%25%3Bposition%3Arelative%3Bcolor%3A%23000%3Btext-decoration%3Anone%7D.text%7Bposition%3Aabsolute%3Btop%3A20px%3Bleft%3A15px%3Bright%3A15px%3Bbottom%3A100px%7D.support-wrapper%7Boverflow%3Ahidden%3Bmax-height%3A86px%7D.support%7Bfont-family%3AArial%2Csans%3Bfont-weight%3A700%3Bline-height%3A28px%3Bfont-size%3A25px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D.when-shop%7Bfont-family%3AArial%2Csans%3Bfont-size%3A15px%3Bfont-weight%3A400%3Bline-height%3A25px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D.donates%7Bfont-family%3AArial%2Csans%3Bfont-size%3A15px%3Bfont-weight%3A400%3Bline-height%3A21px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D%3C%2Fstyle%3E")); contents.document.close(); iFrame.style.display = 'block';}); document.getElementById('amznCharityBanner').appendChild(iFrame); })(); </script></div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>

