<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "magic.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="http://www1.mscdirect.com/MSDS/MSDS00014/00262253-20180727.PDF">Tap Magic</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "carbon.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://www.finitefiber.com/images/pdf/Carbon%20SDS.pdf">Carbon Fibre</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "spray.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://multimedia.3m.com/mws/mediawebserver?mwsId=SSSSSuUn_zu8lZNU4x_ZM8_1Pv70k17zHvu9lxtD7SSSSSS--">3M Super 77 Multipurpose Spray Adhesive</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "baking.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://www.ahprofessional.com/_downloads/sds/SDS%20AH%20Baking%20Soda.pdf">Arm and Hammer Baking Soda</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "pumice.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="http://images.salsify.com/image/upload/s--M39RrFQM--/ex5noogj0xupm4ke229o.pdf">Gojo Natural Orange Pumice Hand Cleaner</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "grease.png", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://agscompany.com/images/stories/MSDS/English/White-Lithium-Lith-Ease-Grease_WL-14-15_English.pdf">Lith-Ease White Lithium Grease</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "thread.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="http://mymsds.henkel.com/mymsds/Search.do?BUSAREA=0006&DOCTYPE=MSDS&COUNTRY=AU&LANG=EN&MATNR=142507">Loctite 243 Threadlocker</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "loctite.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://static.rshughes.com/wm/p/wm-asis/51852dc39a56f39c7228564126acdeeecb2cd6ab.pdf?uf=">Loctite 603 Retaining Compound Press Fit</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "quickstix.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="http://mymsds.henkel.com/mymsds/Search.do?BUSAREA=0006&DOCTYPE=MSDS&COUNTRY=ID&LANG=IN&MATNR=462476">Loctite Quickstix 248 Threadlocker Medium Strength</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "removable.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="http://www.techni-tool.com/site/MSDS/512AD038.pdf">Loctite Threadlocker Blue 242 Removable </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "heavy.png", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="http://www.techni-tool.com/site/MSDS/512AD042.pdf">Loctite Threadlocker Red 271 Heavy Duty</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <%= image_tag "silicone.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://www.permatex.com/wp-content/uploads/tech_docs/sds/01_USA-English/80070.pdf">Permatex Silicone Spray Lubricant</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <%= image_tag "adhesive.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://www.krylon.com/document/SDS/en/US/724504077770">Quick Grip Adhesive</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <%= image_tag "battery.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://www.interstatebatteries.com/-/media/project/interstate-batteries/final-images/technical-documents/safety-data-sheets/sds--lead-acid-battery-containing-liquid-battery-acid.pdf?la=en&hash=2FCA99C82AA03936A48D10336C68ABFE0D09C473">Sealed Lead-Acid Battery</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <%= image_tag "lubricant.jpg", :class=>"card-img-top" %>
                <div class="card-body">
                    <a href="https://files.wd40.com/pdf/sds/mup/wd-40-multi-use-product-aerosol-low-voc-sds-us-ghs.pdf"> WD-40 Aerosol Lubricant</a>
                </div>
            </div>
        </div>
    </div>
</div>
