<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="card image-height-fix" id="sponsorAccordion">
				<div id="accordion" role="tablist">
					<div class="card">
						<div class="card-header" role="tab" id="diamondSponsors">
							<h5 class="mb-0">
								<a data-toggle="collapse" href="#collapseDiamondSponsors" role="button" aria-expanded="true" aria-controls="collapseDiamondSponsors">
									Diamond Sponsors
								</a>
							</h5>
						</div>
						<div id="collapseDiamondSponsors" class="collapse show" role="tabpanel" aria-labelledby="diamondSponsors" data-parent="#accordion">
							<div class="card-body">
								<div class="row align-items-center justify-content-around">
									<div class="col-sm">
										<a href="http://hs.wl.k12.in.us/">
											<%= image_tag 'wl-logo.png', alt: 'i hate everyone', style:'max-width:100%' %>
										</a>
									</div>
									<div class="col-sm">
										<a href="https://polytechnic.purdue.edu/">
											<%= image_tag 'polytechlogo.png', alt: 'Purdue Polytechnic Institute' %>
										</a>
									</div>
								</div>
								<br>
								<div class="row align-items-center justify-content-around">
									<div class="col-sm">
										<a href="http://www.purduefirst.org/">
											<%= image_tag 'purduefirstlogo.png', alt: 'Purdue First Programs' %>
										</a>
									</div>
									<div class="col-sm">
										<a href="https://www.cat.com/">
											<%= image_tag 'caterpillarlogo.png', alt: 'Caterpillar'%>
										</a>
									</div>
								</div>
								<br>
								<div class="row align-items-center justify-content-around">
									<div class="col-sm">
										<a href="https://www.microsoft.com/en-us/">
											<%= image_tag 'microsoftschuesterlogo.png', alt: 'Microsoft'%>
										</a>
									</div>
									<div class="col-sm">
										<a href="https://www.roadworksmfg.com/">
											<%= image_tag 'roadworkslogo.svg', alt: 'RoadWorks' %>
										</a>
									</div>
									<div class="col-sm">
										<a href="https://www.agalmicventures.com/">
											<%= image_tag 'agalamiclogo.png', alt: 'Agalmic Ventures' %>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="platinumSponsors">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" href="#collapsePlatinumSponsors" role="button" aria-expanded="false" aria-controls="collapsePlatinumSponsors">
									Platinum Sponsors
								</a>
							</h5>
						</div>
						<div id="collapsePlatinumSponsors" class="collapse" role="tabpanel" aria-labelledby="platinumSponsors" data-parent="#accordion">
							<div class="card-body">
								<div class="row align-items-center justify-content-around">
									<div class="col-sm">
										<a href="http://www.andymark.com/">
											<%= image_tag 'andymarklogo.png', alt: 'AndyMark' %>
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="goldSponsors">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" href="#collapseGoldSponsors" role="button" aria-expanded="false" aria-controls="collapseGoldSponsors">
									Gold Sponsors
								</a>
							</h5>
						</div>
						<div id="collapseGoldSponsors" class="collapse" role="tabpanel" aria-labelledby="goldSponsors" data-parent="#accordion">
							<div class="card-body">
								<div class="row align-items-center justify-content-around">
									<div class="col-sm">
										<a href="http://www.oscarwinski.com/">
											<%= image_tag 'oscarwinski.png', alt: 'Oscar Winski' %>
										</a>
									</div>
									<div class="col-sm">
										<a href="http://www.colorsinc.com/">
											<%= image_tag 'colorsinc.png', alt: 'Colrs Inc' %>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="silverSponsors">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" href="#collapseSilverSponsors" role="button" aria-expanded="false" aria-controls="collapseSilverSponsors">
									Silver Sponsors
								</a>
							</h5>
						</div>
						<div id="collapseSilverSponsors" class="collapse" role="tabpanel" aria-labelledby="silverSponors" data-parent="#accordion">
							<div class="card-body">
								<div class="row align-items-center justify-content-around">
									<div class="col-sm-4">
										<a href="http://lafayettetoolanddie.com/">Lafayette Tool and Die</a>
									</div>
									<div class="col-sm-4">
										<p>Klumpe Upholstery</p>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="bronzeSponsors">
							<h5 class="mb-0">
								<a class="collapsed" data-toggle="collapse" href="#collapseBronzeSponsors" role="button" aria-expanded="false" aria-controls="collapseBronzeSponsors">
									Bronze Sponsors
								</a>
							</h5>
						</div>
						<div id="collapseBronzeSponsors" class="collapse" role="tabpanel" aria-labelledby="bronzeSponsors" data-parent="#accordion">
							<div class="card-body">
								<div class="row align-items-center justify-content-around">
									<div class="col-sm-4">
										<a href="https://greyhousecoffee.com/">Greyhouse Coffee & Supply Company</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Support Us</h4>
					<p class="card-text">
					If it weren't for the generosity of the individuals and businesses who sponsor our program, we would not have the resources to provide these great opportunities for our community.
					</p>
					<ul>
						<li>Diamond Sponsor ($1000)
							<ul>
								<li>Large logo on donor shirt</li>
								<li>Promoted on website</li>
								<li>Company logo on the robot</li>
							</ul>
						</li>
						<li>Platinum Sponsor ($500)
							<ul>
								<li>Large logo on donor shirt and website</li>
								<li>Small company logo on the robot</li>
							</ul>
						</li>
						<li>Gold Sponsor ($250)
							<ul>
								<li>Large logo on donor shirt and website</li>
							</ul>
						</li>
						<li>Silver Sponsor ($100)
							<ul>
								<li>Logo on donor shirt and website</li>
							</ul>
						</li>
						<li>Bronze Sponsor ($50)
							<ul>
								<li>Name on donor shirt and website</li>
							</ul>
						</li>
					</ul>
					<p>If you are interesting in sponsoring us, please contact us. Donations can also be sent to our parent organization at:</p>
					<p>461 Boosters
					<br>PO Box 2734
					<br>West Lafayette, IN 47996</p>
					<p>Team 461 retains tax-exempt status pursuant to the provisions of United States Internal Revenue Code section 501(c)(3). The tax identification number and copies of the IRS determination letter are available upon request. Please contact us for more information.</p>
				</div>
			</div>
		</div>
	</div>
</div>
