<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="card image-height-fix">
				<div class="card-header">
					<h4 class="card-title">Our Sponsors</h4>
					<ul class="nav nav-tabs card-header-tabs" id="sponsorsTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="diamondSponsors-tab" data-toggle="tab" href="#diamondSponsors" role="tab" aria-controls="diamondSponsors" aria-selected="true">Diamond Sponsors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="platinumSponsors-tab" data-toggle="tab" href="#platinumSponsors" role="tab" aria-controls="platinumSponsors" aria-selected="false">Platinum Sponsors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="goldSponsors-tab" data-toggle="tab" href="#goldSponsors" role="tab" aria-controls="goldSponsors" aria-selected="false">Gold Sponsors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="silverSponsors-tab" data-toggle="tab" href="#silverSponsors" role="tab" aria-controls="silverSponsors" aria-selected="false">Silver Sponsors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="bronzeSponsors-tab" data-toggle="tab" href="#bronzeSponsors" role="tab" aria-controls="bronzeSponsors" aria-selected="false">Bronze Sponsors</a>
						</li>
					</ul>
				</div>
				<div class="tab-content" id="sponsorsTabContent" role="tablist">
					<div class="tab-pane fade show active card-body" id="diamondSponsors" role="tabpanel" aria-labelledby="diamondSponsors-tab">
						<h4 class="card-title">Diamond Sponsors</h4>
						<div class="container">
							<div class="row align-items-center justify-content-around">
								<div class="col-sm">
									<a href="http://hs.wl.k12.in.us/">
										<%= image_tag 'wl-logo.png', alt: 'i hate everyone' %>
									</a>
								</div>
								<div class="col-sm">
									<a href="https://polytechnic.purdue.edu/">
										<%= image_tag 'polytechlogo.png', alt: 'Purdue Polytechnic Institute' %>
									</a>
								</div>
							</div>
							<br>
							<div class="row align-items-center justify-content-around">
								<div class="col-sm">
									<a href="http://www.purduefirst.org/">
										<%= image_tag 'purduefirstlogo.png', alt: 'Purdue First Programs' %>
									</a>
								</div>
								<div class="col-sm">
									<a href="https://www.cat.com/">
										<%= image_tag 'caterpillarlogo.png', alt: 'Caterpillar'%>
									</a>
								</div>
							</div>
							<br>
							<div class="row align-items-center justify-content-around">
								<div class="col-sm">
									<a href="https://www.microsoft.com/en-us/">
										<%= image_tag 'microsoftschuesterlogo.png', alt: 'Microsoft'%>
									</a>
								</div>
								<div class="col-sm">
									<a href="https://www.roadworksmfg.com/">
										<%= image_tag 'roadworkslogo.svg', alt: 'RoadWorks' %>
									</a>
								</div>
								<div class="col-sm">
									<a href="https://www.agalmicventures.com/">
										<%= image_tag 'agalamiclogo.png', alt: 'Agalmic Ventures' %>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade card-body" id="platinumSponsors" role="tabpanel" aria-labelledby="platinumSponsors-tab">
						<h4 class="card-title">Platinum Sponsors</h4>
						<div class="container">
							<div class="row align-items-center justify-content-around">
								<div class="col-sm">
									<a href="http://www.andymark.com/">
										<%= image_tag 'andymarklogo.png', alt: 'AndyMark' %>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade card-body" id="goldSponsors" role="tabpanel" aria-labelledby="goldSponsors-tab">
						<h4 class="card-title">Gold Sponsors</h4>
						<div class="container">
							<div class="row align-items-center justify-content-around">
								<div class="col-sm">
									<a href="http://www.oscarwinski.com/">
										<%= image_tag 'oscarwinski.png', alt: 'Oscar Winski' %>
									</a>
								</div>
								<div class="col-sm">
									<a href="http://www.colorsinc.com/">
										<%= image_tag 'colorsinc.png', alt: 'Colrs Inc' %>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade card-body" id="silverSponsors" role="tabpanel" aria-labelledby="silverSponsors-tab">
						<h4 class="card-title">Silver Sponsors</h4>
						<div class="container">
							<div class="row align-items-center justify-content-around">
								<div class="col-sm-4">
									<a href="http://lafayettetoolanddie.com/">Lafayette Tool and Die</a>
								</div>
								<div class="col-sm-4">
									<p>Klumpe Upholstery</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade card-body" id="bronzeSponsors" role="tabpanel" aria-labelledby="bronzeSponsors-tab">
						<h4 class="card-title">Bronze Sponsors</h4>
						<div class="container">
							<div class="row align-items-center justify-content-around">
								<div class="col-sm-4">
									<a href="https://greyhousecoffee.com/">Greyhouse Coffee & Supply Company</a>
								</div>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div id="accordion" role="tablist">
				<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<h5 class="mb-0">
							<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
								Diamond Sponsors
							</a>
						</h5>
					</div>
					<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
						<div class="row align-items-center justify-content-around">
                                <div class="col-sm">
                                    <a href="http://hs.wl.k12.in.us/">
                                        <%= image_tag 'wl-logo.png', alt: 'i hate everyone' %>
                                    </a>
                                </div>
                                <div class="col-sm">
                                    <a href="https://polytechnic.purdue.edu/">
                                        <%= image_tag 'polytechlogo.png', alt: 'Purdue Polytechnic Institute' %>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row align-items-center justify-content-around">
                                <div class="col-sm">
                                    <a href="http://www.purduefirst.org/">
                                        <%= image_tag 'purduefirstlogo.png', alt: 'Purdue First Programs' %>
                                    </a>
                                </div>
                                <div class="col-sm">
                                    <a href="https://www.cat.com/">
                                        <%= image_tag 'caterpillarlogo.png', alt: 'Caterpillar'%>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row align-items-center justify-content-around">
                                <div class="col-sm">
                                    <a href="https://www.microsoft.com/en-us/">
                                        <%= image_tag 'microsoftschuesterlogo.png', alt: 'Microsoft'%>
                                    </a>
                                </div>
                                <div class="col-sm">
                                    <a href="https://www.roadworksmfg.com/">
                                        <%= image_tag 'roadworkslogo.svg', alt: 'RoadWorks' %>
                                    </a>
                                </div>
                                <div class="col-sm">
                                    <a href="https://www.agalmicventures.com/">
                                        <%= image_tag 'agalamiclogo.png', alt: 'Agalmic Ventures' %>
                                    </a>
                                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Support Us</h4>
					<p class="card-text">
					If it weren't for the generosity of the individuals and businesses who sponsor our program, we would not have the resources to provide these great opportunities for our community.
					</p>
					<ul>
						<li>Diamond Sponsor ($1000)
							<ul>
								<li>Large logo on donor shirt</li>
								<li>Promoted on website</li>
								<li>Company logo on the robot</li>
							</ul>
						</li>
						<li>Platinum Sponsor ($500)
							<ul>
								<li>Large logo on donor shirt and website</li>
								<li>Small company logo on the robot</li>
							</ul>
						</li>
						<li>Gold Sponsor ($250)
							<ul>
								<li>Large logo on donor shirt and website</li>
							</ul>
						</li>
						<li>Silver Sponsor ($100)
							<ul>
								<li>Logo on donor shirt and website</li>
							</ul>
						</li>
						<li>Bronze Sponsor ($50)
							<ul>
								<li>Name on donor shirt and website</li>
							</ul>
						</li>
					</ul>
					<p>If you are interesting in sponsoring us, please contact us. Donations can also be sent to our parent organization at:</p>
					<p>461 Boosters
					<br>PO Box 2734
					<br>West Lafayette, IN 47996</p>
					<p>Team 461 retains tax-exempt status pursuant to the provisions of United States Internal Revenue Code section 501(c)(3). The tax identification number and copies of the IRS determination letter are available upon request. Please contact us for more information.</p>
				</div>
			</div>
		</div>
	</div>
</div>
