<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">Team History</h4>
		</div>
		<div class="row">	
			<div class="col-2">
				<div class="alert scroll">
					<ul class="nav nav-tabs card-header-tabs flex-column" id="teamHistoryTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="2017-tab" data-toggle="tab" href="#tab2017" role="tab" aria-controls="2017" aria-selected="true">2017 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2016-tab" href="#tab2016" data-toggle="tab" role="tab" aria-control="2016" aria-selected="false">2016 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2015-tab" href="#tab2015" data-toggle="tab" role="tab" aria-control="2015" aria-selected="false">2015 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2014-tab" href="#tab2014" data-toggle="tab" role="tab" aria-control="2014" aria-selected="false">2014 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2013-tab" href="#tab2013" data-toggle="tab" role="tab" aria-control="2013" aria-selected="false">2013 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2012-tab" href="#tab2012" data-toggle="tab" role="tab" aria-control="2012" aria-selected="false">2012 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2011-tab" href="#tab2011" data-toggle="tab" role="tab" aria-control="2011" aria-selected="false">2011 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2010-tab" href="#tab2010" data-toggle="tab" role="tab" aria-control="2010" aria-selected="false">2010 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2009-tab" href="#tab2009" data-toggle="tab" role="tab" aria-control="2009" aria-selected="false">2009 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2008-tab" href="#tab2008" data-toggle="tab" role="tab" aria-control="2008" aria-selected="false">2008 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2007-tab" href="#tab2007" data-toggle="tab" role="tab" aria-control="2007" aria-selected="false">2007 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2006-tab" href="#tab2006" data-toggle="tab" role="tab" aria-control="2006" aria-selected="false">2006 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2005-tab" href="#tab2005" data-toggle="tab" role="tab" aria-control="2005" aria-selected="false">2005 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2004-tab" href="#tab2004" data-toggle="tab" role="tab" aria-control="2004" aria-selected="false">2004 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2003-tab" href="#tab2003" data-toggle="tab" role="tab" aria-control="2003" aria-selected="false">2003 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2002-tab" href="#tab2002" data-toggle="tab" role="tab" aria-control="2002" aria-selected="false">2002 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2001-tab" href="#tab2001" data-toggle="tab" role="tab" aria-control="2001" aria-selected="false">2001 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="2000-tab" href="#tab2000" data-toggle="tab" role="tab" aria-control="2000" aria-selected="false">2000 Season</a>
						</li>
					</ul>
					</div>
					</div>
					<div class="tab-content col-10" id="teamHistoryContent" role="tablist">
						<div class="tab-pane fade show active card-body" id="tab2017" aria-labelledby="2017-tab">
							<h4 class="card-title">2017 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									Our 18th season we got to compete in FIRST Steamworks! Rowdy 18 charged full steam ahead as we were the 3rd seeded alliance captain and won the Gracious Professionalism Award at the Tippecanoe District. We also were the 8th seeded alliance captain at the St. Joseph District. The season culminated with our qualification for state.
								</p>
								</div>
								<div class="col-4">
								<!--> 2017 image<-->
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2016" aria-labelledby="2016-tab">
							<h4 class="card-title">2016 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									Our 17th season was a blast with FIRST Stronghold. Rowdy 17 stormed our competitions - winning Finalist and Engineering Inspiration at the Walker-Warren District. We were also honored to qualify for the FIRST Championship. We had a great time in St. Louis and were excited to meet cool teams from around the world!
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag 'teampic2.jpg' %>
								</div>
							</div>
						</div>	
						<div class="tab-pane fade card-body" id="tab2015" aria-labelledby="2015-tab">
							<h4 class="card-title">2015 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
								In our sixteenth season we went through numerous iterations of robot design, improving our lift with each one. Through all the changes and challenges Rowdy 16 was debuted. We made it all the way to third place at the Indianapolis District, where we were honored to win the Engineering Inspiration for our work with the Boy Scouts of America. We were also honored to win the Judges Award at State.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2015-team-pic.jpg' %>
								</div>
							</div>
						</div>	
						<div class="tab-pane fade card-body" id="tab2014" aria-labelledby="2014-tab">
							<h4 class="card-title">2014 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In our fifteenth year WBI excelled with Rowdy 15. This year we attened the Crossroads regional where won the Imagery award for Rowdy's wings. As usual we attended the Boilermaker Regional, but this year we were seeded 2nd. This year also marked the 10th year anniversary of the Boilermaker Regional and our own 15th year anniversary; we celebrated with a gala and cake.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2015-teamhistory.jpg' %>
								</div>
							</div>
						</div>	
						<div class="tab-pane fade card-body" id="tab2013" aria-labelledby="2013-tab">
							<h4 class="card-title">2013 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In our fourteenth year as a team, WBI aimed high in 2013 with Rowdy 14. We attended the Boilermaker Regional and managed to advance as far as the semi-finals after overcoming several robot issues throughout the competition. We later attended the Buckeye Regional where we had the honor of seeding 8th, allowing WBI to be a team drafting an alliance for the first time in many years.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2013-team-pic.JPG' %>
								</div>
							</div>
						</div>	
						<div class="tab-pane fade card-body" id="tab2012" aria-labelledby="2012-tab">
							<h4 class="card-title">2012 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In our 2012 season and thirteenth year as a team, WBI aimed for excellence with Rowdy 13. We attended the Boilermaker Regional and were awarded the Gracious Professionalism Award. We also attended the Washington DC Regional where we had the honor of winning the Chariman's Award, allowing us to travel to the World Championships in Saint Louis.

								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2012-team-pic.JPG' %>
								</div>
							</div>
						</div>	
						<div class="tab-pane fade card-body" id="tab2011" aria-labelledby="2011-tab">
							<h4 class="card-title">2011 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In the 2011 season, WBI was in it's twelfth year of competition. We attend Boilermaker Regional every year, this time competing with Rowdy 12. At this local region, WBI was awarded the Best Website Award, continuing our tradition of excellence.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2011-team-pic.JPG' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2010" aria-labelledby="2010-tab">
							<h4 class="card-title">2010 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In its eleventh year of competition, WBI aimed for excellence. Most notably, the team repeated history by winning the Best Website Award at the Buckeye Regional, Boilermaker Regional, and the FIRST® Championship, as it had done in the 2006 competition season. The team was also awarded the Engineering Inspiration Award at the Boilermaker Regional, and was selected to the elimination bracket at the Buckeye Regional.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2010-team-pic.png', :class=>"imgsize" %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2009" aria-labelledby="2009-tab">
							<h4 class="card-title">2009 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									WBI celebrated a decade of FIRST® Robotics tradition. Starting off the season at the Buckeye Regional in Cleveland, OH, team 461 won the Judge's Award for its support of other teams with both hardware and software and was seeded 13th at the end of qualification rounds. At the Boilermaker Regional, suffering from technical issues, the team was seeded 31st, but was selected by the second seed alliance of team 45, the Technokats, and team 234, Cyberblue. The alliance made it to the finals, being narrowly defeated in a tiebreaker match by a margin of three points. For its organization of alumni reunion, team 461 received a Judge's Award. At the FIRST® Championship event in Atlanta, GA, team 461 made a strong showing, going 6-1 and was seeded 10th at the end of qualification rounds.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2009-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2008" aria-labelledby="2008-tab">
							<h4 class="card-title">2008 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									WBI competed in the Boilermaker Regional, won 2nd place and fought a close final round and won the Xerox Creativity Award. In the Great Lakes Regional in Ypsilanti, MI, technical problems caused many losses. Not to be discouraged, the team began to work on improvements for the Atlanta Championship. At Atlanta, in many energy packed matches, WBI ended in the upper half of the Archimedes Division. Unfortunately, WBI was not selected to participate as part of an alliance in the elmination rounds.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2008-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2007" aria-labelledby="2007-tab">
							<h4 class="card-title">2007 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									WBI Team 461 had a very successful season in 2007. We attended the St. Louis Regional last year, and won the Engineering Inspiration award, that allowed us to travel to Nationals in Atlanta once again. We also attended our local regional, the Boilermaker Regional where we got 2nd place on an alliance with our sister team from Harrison High School, 1747 HBR. At Atlanta, we ended our season in the top 20 out over 80 teams in the Gallileo division. At the Indiana Robotics Regional in July, we went on to the elimination round with a drive team that had never driven the robot before.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2007-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2006" aria-labelledby="2006-tab">
							<h4 class="card-title">2006 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									The 2006 season was WBI's seventh. Like the previous year, we mentored a rookie team, Team 1747 at Harrison High School, Team Harrison Boiler Robotics. WBI attended the Buckeye Regional in Cleveland, Ohio, as well as the Boilermaker Regional in West Lafayette, Indiana. The team also competed at the Championship Event in Atlanta, Georgia. At the Buckeye Regional, Team 461 was honored with the Website Award as well as the Engineering Inspiration Award, the second most prestigious award in FIRST®. WBI also finished the regional as the runner-up, along with our allies Team 1018, Pike Robo-Devils, and Team 141, the Wo-Bots. WBI mentor Steve Florence was honored with the Regional Woodie Flowers Award. At the Boilermaker Regional, WBI won the Website Award and the Kleiner Perkins Caufield and Byers Entrepreneurship Award. WBI competed from April 27-29, 2006, in the Championship Event, held in Atlanta at the Georgia Dome. At the Championship Event, WBI won the Website Award, a feat we are extremely proud of.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2006-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2005" aria-labelledby="2005-tab">
							<h4 class="card-title">2005 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									2005 was WBI's sixth season. The team grew even more this year, and the focus was on having a great robot and expanding out into the community. WBI served as a mentor team this year to Teams 1555 at North White High School, Team Pulse, and 1646 at Lafayette Jefferson High School, Team Boiler Precision Guessworks. Our partnerships involved sending students and advisors to work with the teams at their schools as well as promoting the FIRST® experience. During 2005, WBI also assisted with the operation and setup of the Boilermaker Regional in West Lafayette, Indiana, as well as competing in it. At the Boilermaker Regional, WBI received the Website Design award. WBI also competed in the Motorola Midwest Regional, where the team won the Team Spirit Award for BOSS (Boiler Online Scouting System), an online database of scouting information on all of the teams at the regional. (Scouting data can be downloaded for the Boilermaker Regional, the Motorola Midwest Regional, and the Championship Event in Curie division can be found at http://www.thebluealliance.com/team/461/2005.) WBI also attended the Championship Event in Atlanta, Georgia.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2005-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2004" aria-labelledby="2004-tab">
							<h4 class="card-title">2004 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									WBI's success in its fifth season was the culmination of hard work and determination. There were 46 students from local high schools and 17 Purdue University advisors. We attended the Great Lakes Regional in Ypsilanti, Michigan, where WBI placed 22nd overall and was chosen by WildStang (#111), the first seed team, for the finals. WBI was awarded the Leadership in Control Award in honor of our programming efforts. At the Motorola Midwest Regional in Evanston, Illinois, we won the award for Website Design. We were also chosen as the first pick of sixth seed CFHS Robotics (#525) in elimination rounds. At the National Competition, the WBI alliance was 2nd overall in the Curie division, and 5th in the nation. At the 2004 Indiana Robotics Invitational, WBI won the Animation Award for a fantastic animation made within only a day.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2004-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2003" aria-labelledby="2003-tab">
							<h4 class="card-title">2003 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In its 4th season, WBI attended two regional competitions, the Buckeye Regional in Cleveland and the Midwest Regional in Chicago. The team also attended the National Competition, held in Houston, Texas. The team had a successful season, brought home 3rd place in the Animation competition, and finished 8th place overall at the Buckeye Regional. In Chicago, WBI was honored with the Regional Chairmans Award (see the Public Relations page and the 2003 Chairman's Award page). One of only 23 teams nationally to win this prestigious award, WBI then had the opportunity to submit an entry into the National Chairmans Award Competition.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2003-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2002" aria-labelledby="2002-tab">
							<h4 class="card-title">2002 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In its 3rd season, the team grew to 30 High School students, 25 college advisors, 2 High School teachers, and 5 industry Professionals. By this time, the team had established itself in FIRST® and was ready to take on another season. In 2002, the team attended 3 regionals: Buckeye Regional in Cleveland, Motorola Midwest Regional in Chicago, and the St. Louis Regional, in St. Louis. WBI placed 6th place overall at the Motorola Midwest Regional and 5th place overall at the St. Louis Regional, making it the first year that WBI made it to the final rounds. The team also won the Imagery Award at the Buckeye Regional for their bright yellow jerseys and the Spirit Award in St. Louis.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2002-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2001" aria-labelledby="2001-tab">
							<h4 class="card-title">2001 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In 2001, new students were brought on the team, raised the numbers to 22 high school students from West Lafayette, Harrison, and Jefferson high schools, 18 Purdue students, 2 high school teachers, and 3 industry professionals. More of the new advisors had been on teams in high school themselves, and the diversity and experience brought to WBI became a huge asset to the team. Funding improved and the team was able to attend the Motorola Midwest Regional and the National Championship. The team also went to several post-national competitions, the Indiana Robotics Invitational (IRI) and the Ford Sweet Repeat (FSR). The team took home the Daimler Chrysler Spirit Award from the Motorola Regional and the Teamwork Award from the IRI. The season was capped off by winning both the entire tournament and the Girls Championship at the Ford Sweet Repeat (FSR).
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2001-team-pic.png' %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade card-body" id="tab2000" aria-labelledby="2000-tab">
							<h4 class="card-title">2000 Season</h4>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-around" style="height: 373.6px">
								<p class="card-text">
									In January of 2000, the team, Westside Boiler Invasion 461 (WBI 461), tackled the challenge of designing a robot. The robot was named Rowdy Pete 1, reflecting Purdue's great influence on WBI 461. In the first year, Westside Boiler Invasion was comprised of 18 high school students from West Lafayette and Harrison High Schools and 12 Purdue University students. The team was unique in the fact that it was completely student run. The team competed in the Motorola Midwest Regional, taking home the Rookie All-Star award. But the memories and hard work didn't stop there. At that time, the team did not have enough funds to buy uniforms (the team tie-dyed their own shirts, earning the nickname "Team Sherbet"), let alone attend the National Championship, which is the culminating event of the season. The advisors knew the great benefit of competing at nationals and did not want to let this opportunity pass by. Thus, everything possible was done to raise money: begging companies, getting donations from alumni, and even getting another team (Truck Town Terror #68, now called Truck Town Thunder) to pay for the hotel. The gracious professionalism paid to WBI 461 was immeasurable. All the effort put forth by the team paid off when Westside Boiler Invasion qualified for nationals at Motorola. Our team also set its precedent of being extremely spirited. Even though no awards were won at nationals, the fact that the team got there was enough to make it among the best experiences of everyone on the team.
								</p>
								</div>
								<div class="col-4 team-pic-height">
									<%= image_tag '2000-team-pic.png' %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
